nav {
    background-color: #2c3e50;
}

nav a {
    font-weight: bold;
}

nav .navbar-collapse {
    flex-grow: 0;
}

.navbar-dark .navbar-toggler {
    border-color: #ccc;
}

header,
article {
    color: #fff;
}

.line-icon i {
    margin-bottom: 24px;
}

.line-icon::before,
.line-icon::after {
    width: 90px;
    height: 5px;
    border-top: 5px solid #fff;
    border-radius: 12px;
    display: inline-block;
    content: '';
    margin-left: 24px;
    margin-right: 24px;
}

.line-icon-black::before,
.line-icon-black::after {
    width: 90px;
    height: 5px;
    border-top: 5px solid #000;
    border-radius: 12px;
    display: inline-block;
    content: '';
    margin-left: 24px;
    margin-right: 24px;
}

header img {
    width: 200px;
}

.header-list {
    font-size: 20px;
}

.green {
    background-color: #1abc9c;
    padding-top: 48px;
    padding-bottom: 48px;
}

.centered {
    text-align: center;
}

.titolo-box {
    margin-top: 24px;
    margin-bottom: 24px;
}

.red {
    background-color: #ba4b63;
    margin-bottom: 24px;
}

.greenwater {
    background-color: #1ea4b6;
    margin-bottom: 24px;
}

.black {
    background-color: #140f0f;
    margin-bottom: 24px;
}

.azure {
    background-color: #1c83c1;
    margin-bottom: 24px;
}

.blue {
    background-color: #0e38b5;
    margin-bottom: 24px;
}

.brown {
    background-color: #ccb2a3;
    margin-bottom: 24px;
}

.grey {
    background-color: #3a546d;
}


/* input part */

.input-container {
    padding-top: 48px;
    padding-bottom: 48px;
}

.input-container h2 {
    margin-bottom: 12px;
}

.contact-form input {
    border: 0;
    border-bottom: 1px #ccc solid;
    width: 100%;
    padding-bottom: 12px;
    margin-bottom: 12px;
}

.contact-form textarea {
    border: 0;
    border-bottom: 1px #ccc solid;
    width: 100%;
    margin-bottom: 12px;
}

.contact-form ::placeholder {
    color: #000;
}